<div class="wrapper">
    <!-- Now we comment the selector tag element and we use it like an html attribute
    <app-nav></app-nav> html tag-->
    <!-- <div app-nav></div> html attribute-->

    <!-- 
        Now we just to use it like a css classe
     -->
     <div class="app-nav"></div> <!-- css class-->
    <app-header></app-header>
    <app-notification></app-notification>
    <!-- <app-search></app-search> -->
    <!-- app-search deja dans app-products -->
    <!-- Maintenant on fait la liaison - property binding -->
    <!-- <app-filter
    [all] = 'getTotalProducts()'
    available="getTotalAvailableProduct()"
    notAvailable="getTotalNotAvailableProduct()"
    ></app-filter> -->
    
    <app-products></app-products>
</div>